/*****CONTACTO*////

#A1660:j_idt9:j_idt10:j_idt11:messageItemId{
	width: 500px;
	height: 84px;	
}
textarea{
	width: 500px;
	height: 84px;
}
/******************FONT FOR BANNER*************************/

@font-face{
   font-family:"Franklin Gothic Heavy";
   src:url(Franklin_Gothic_Heavy.ttf) format("opentype");
}

/*************CUSTOM THEME HEADER******************/

#uvw-overlay-uv-1{
	z-index: 99999999999999 !important;
}



/****** CUSTOM CORE CSS *********/
/*/html/css/portal/aui.css*/
.aui-w1-5,
.aui-w20 {
	width: 18%;
}
.aui-w1-4,
.aui-w25 {
	width: 14%;
}
#p_p_id_33_{
	padding-left: 10px;
}

/*\html\portlet\journal_content\css\main.css*/

.portlet-journal-content .icon-actions{
	
	float: left !important;
	margin: 1px 10px 1px 1px !important;
	
}
	

.portlet-journal-content .icons-container {
		width: auto !important;
		position:relative !important;
	}

/*\html\css\portal\generic_portlet.css*/
.lfr-meta-actions {
}

/*\html\portlet\login\css\.sass-cache\main.css*/

.portlet-login .navigation {
  background: #eee;
  border-top: 1px solid #BFBFBF;
  padding: 10px 0 10px 20px; }

/********************************/



/*PORTLETS GWT*/
#p_p_id_nextevents_WAR_comcomparadoradbetcomparerwebserverportletnextev_{/*próximos eventos*/
	width: 680px;
	float: left;
	
}
#p_p_id_imageslider_WAR_comcomparadoradbetcomparerwebserverportletislider_{/*IMAGE SLIDER*/
	width: 832px;
	
}
#p_p_id_results_WAR_comcomparadoradbetcomparerwebserverportletresults_{/*EVENTOS*/
	width: 680px;
	float: left;
	
}

#p_p_id_comparerwebserverportlettoolbar_WAR_comcomparadoradbetcomparerwebserverportlettoolbar_{/*TOOLBAR*/
	padding-right: 12px;
	
}

/**LOGIN*/
#p_p_id_58_{/*LOGIN*/
	width: 100%;
	
	
}

#rss-blog {
    margin: 0;
    padding: 3px;
    width: 128px;
}

#rss-pronosticos {
    margin: 0;
    padding: 3px;
    width: 128px;
}

#login-normal{
	width: 140px;
	float: right;
	margin-left: 12px;
	text-align: center;
}

#login-maximized{
	width: 100%;
	margin: 0 12px;
	text-align: center;
}

#login-maximized .aui-field-label{
	text-align: center;
	margin: 0;
}
#p_p_id_58_ .aui-field-label{
	margin-left: 10px;
	
}
#p_p_id_58_ .taglib-icon-list li{
	margin-right: 10px;
	float: none;
}

#login-maximized .taglib-captcha .captcha{
	margin-left: auto;
	margin-right: auto;
	
}

#login-maximized  .aui-column{
	float: none !important;
} 

/**************/

#p_p_id_56_INSTANCE_cJe29ssPZaoy_{/*SOCIAL*/
	width: 680px; 
 	float: left; 
}
#p_p_id_56_INSTANCE_90a3pKZaPt1W_,#p_p_id_56_INSTANCE_vEcbcNcXYY0t_{/*SOCIAL*/
	width: 680px; 
 	float: left; 
}

/**************/

.logo {
	width: 272px;
	float:left;
	margin-top:10px;
}

.banners {
	width: 728px;
	float:right;
}
.value_bets {
	width: 180px;
	float:left;
	min-width:140px;
	margin-top:1%;
}
button.b1 {
	background: #3476CD;
	color: #e7ca42;
	height: 30px;
	width: 100%;
	text-shadow:none;
}

button.b2 {
	background: #3476CD;
	color: #e7ca42;
	height: 30px;
	width: 100%;
	text-shadow:none;
}
.valuebar {
	background-color:#3476CD;
	height:2px;
	width:100%;
	margin:1px 0;
}

.bookmakers {
	width: 820px;
	float: left;
	margin-left:12px;
}
.image-bookmaker{
	float:left;
	width:140px;
	margin-right:25px;
}
.image-bookmaker-last{
	float:left;
	width:140px;
	margin-right:12px;
}



.language{
	float:left;
	padding-top: 3px;
}
.language img {
	float:right;
	margin:4px 2px;
	vertical-align:middle;
}
.time{
	margin-right:15px;
	float:left;
	padding-top: 3px;
}
.juego_seguro {
	width:100px;
	float:left;
	padding-top: 3px;
}
.clear{
	clear:both;
}
.row1{
	width:1024px;
	margin:2px 0 0;
	float:left;
}
.row1-1{
	width:885px;
	float:left;
}

.row2{
	width:1024px;
}
.row3{
	width:1024px;
}
#column-1-main{
	float: left;
	width: 180px;
	margin-right: 12px;
	
}
#column-2-main{
	width: 832px;
}
#column-3-main{
	text-align:center;
}
#column-3 .navigation{
	text-align:left;
}
.login-banner{
	margin-top:10px;
}
.login-banner img{
	margin:0 10px;
}
.footer-content {
	width:100%;
	text-align:center;
}
.footer-content ul.footer-list {
	list-style:none;
	margin:1% 5%;
	padding:1%;
	-moz-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	-webkit-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	background-color:#3475c8;
	background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(44,160,202,0)),to(rgba(0,0,0,0.13)));
	background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	border-width:0 0 2px 0;
	border-style:solid;
	border-color:#2861ab;
	border-radius:5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#002CA0CA,endColorstr=#20000000)
}
.footer-content ul.footer-list li.footer-links {
	display:inline;
	text-align:center;
}
.footer-content ul.footer-list a{
	color:#ffffff;
}
.footer-content ul.footer-list a:hover{
	color:#e6b042;
}

.aui-dialog{
	position: absolute;
	z-index: 9999999 !important;
}





/*///////////////////////////////////////////////////*/

/* ---------- Global ---------- */
body {
	background-color: #fff;
	color: #333;
	/*font: 12px/1.25 Arial, Helvetica, Verdana, sans-serif;*/
	margin:0;
	padding:0;
}
p{
	font:1em verdana, sans-serif;
	margin:0;
}
a {
	color: #D05B00;
}

a:hover,a:focus {
	color: #06C;
}

a, a:visited {
    color: #0066CC;
    text-decoration: none;
}
.obscured,#skip-to-content,#heading .company-title span,#heading .community-title,#heading .page-title,#navigation h1,#breadcrumbs h1
	{
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

/* ---------- Wrapper ---------- */
#wrapper {
	margin:0 auto;
	width: 1024px;
	overflow:hidden;
}
/* ---------- Header ---------- */
#banner {
	margin:0 auto;
	width: 1024px;
	overflow:hidden;
}
/* ---------- Content ---------- */
#content {
	margin:0 auto;
	width: 1024px;
	overflow:hidden;
}
/* ---------- Skip to content ---------- */
#skip-to-content:focus {
	left: auto;
	right: 0;
	top: -2.4em;
}

/* ---------- Banner ---------- */
#heading {
	margin-bottom:5px;
	min-height: 40px;
}

#heading .company-title {
	margin: 0;
}

/* ---------- Sign In ---------- */
#sign-in {
	background: url(../images/custom/login_icon.png) no-repeat 3px 50%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -1em;
}


/* ---------- New Navigation ---------- */
.navigation-menu { 
	float:left;
	width:832px;
	text-align:center;
	padding-top:3px;
	margin-left:12px;
}
ul#menucss li.searchbox {
	width:130px;
	color:#ccc;
}
ul#menucss li.searchbox img{
	width:13px;
	margin:6px 7px 12px 0;
	vertical-align:top;
}
.searchform{
width:100%;
height:28px;
}
#search{
width:100%;
height:28px;
}

#search input[type="text"]{
width:98px;
height:14px;
margin-right:3px;
margin-left: 3px;
color:#000000;
}
#search .portlet-body select{
visibility:hidden;
float:left;
padding:0;
width:0;
}
#search input[type="image"]{
padding:0 0 5px 6px;
}



ul#menucss,ul#menucss ul {
	margin:0;
	list-style:none;
	padding:0;
	background-color:#dbdee2;
	border-width:0;
	border-style:none;
	border-color:;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
ul#menucss ul{
	visibility:hidden;
	position:absolute;
	left:0;
	top:100%;
	opacity:0;
	-moz-transition:all 0.5s;
	-webkit-transition:opacity 0.5s;
	-o-transition:opacity 0.5s;
	background-color:#e8e8e8;
	border-width:1px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-style:solid;
	border-color:#FFFFFF #D2D4D6 #BCBDBF;
	-moz-box-shadow:0 2px 1px #BCBDBF;
	-webkit-box-shadow:0 2px 1px #BCBDBF;
	box-shadow:0 2px 1px #BCBDBF;
	padding:5px 9px 9px;
}
ul#menucss li:hover>ul {
	visibility:visible;
	opacity:1;
}
ul#menucss li{
	position:relative;
	display:block;
	font-size:0;
	float:left;
}
ul#menucss li:hover{
	z-index:1;
}
ul#menucss{
	font-size:0;
	width:820px;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	padding:7px 0 6px;
	margin:0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 1px 1px #909193 inset, 0 1px 0 #FFFFFF;
	-webkit-box-shadow:0 1px 1px #909193 inset, 0 1px 0 #FFFFFF;
	box-shadow:0 1px 1px #909193 inset, 0 1px 0 #FFFFFF;
}
ul#menucss>li {
	margin:0 0 0 5px;
	width:106px;
}

ul#menucss ul>li {
	margin:6px 0 0;
}
ul#menucss a:active, ul#menucss a:focus {
	outline-style:none;
}
ul#menucss a {
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFFFFF;
	cursor:pointer;
	padding:8px;
	background-repeat:repeat;
	background-position:0 0;
	border-width:0px;
	border-style:none;
}
ul#menucss ul li{
	float:none;
	margin:4px 0 0;
}
ul#menucss ul a{
	text-align:left;
	padding:0;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	color:#333333;
	text-decoration:none;
}
ul#menucss li:hover>a,ul#menucss li a.pressed{
	border-style:none;
	color:#FFFFFF;
	background-position:0 100%;
	text-decoration:none;
}
ul#menucss img{
	border:none;
	vertical-align:middle;
	margin:6px 6px 0 5px;
}
ul#menucss span{
	display:block;
	overflow:visible;
	background-image:url("arrow.png");
	background-position:right center;
	background-repeat:no-repeat;
	padding:4px 0 6px 0;
	display:block;
	
}
ul#menucss ul li:hover>a,ul#menucss ul li a.pressed{
	color:#3db6e3;
	text-decoration:none;
}
ul#menucss li.topmenu>a{
	text-align:center;
	height:15px;
	line-height:9px;
	padding:0 0 9% 0;
	-moz-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	-webkit-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	background-color:#3475c8;
	background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(44,160,202,0)),to(rgba(0,0,0,0.13)));
	background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	border-width:0 0 2px 0;
	border-style:solid;
	border-color:#2861ab;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#002CA0CA,endColorstr=#20000000);
}
ul#menucss li.topmenu:hover>a,ul#menucss li.topmenu a.pressed{
	-moz-box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	-webkit-box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	background-color:#3db6e3;
	background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	background-image:-moz-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(0,0,0,0.13)),to(rgba(44,160,202,0)));
	background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	border-width:2px 0 0 0;
	border-style:solid;
	border-color:#2ca1cb;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#20000000,endColorstr=#002CA0CA)
}

ul#menucss li.selected>a{
	text-align:center;
	height:15px;
	line-height:9px;
	padding:0 0 9% 0;
	-moz-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	-webkit-box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	box-shadow:0 -1px #3475c8, 0 3px 0 #0E3871,0 6px 4px #999999;
	background-color:#3475c8;
	background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(44,160,202,0)),to(rgba(0,0,0,0.13)));
	background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));
	border-width:0 0 2px 0;
	border-style:solid;
	border-color:#2861ab;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#002CA0CA,endColorstr=#20000000);
}
ul#menucss li.selected:hover>a,ul#menucss li.selected a.pressed{
	-moz-box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	-webkit-box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	box-shadow:0 2px 0 #2ab7ec,0 3px 0 #0E3871,0 1px 0 #60C9F0,0 5px 3px #999999;
	background-color:#3db6e3;
	background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	background-image:-moz-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(0,0,0,0.13)),to(rgba(44,160,202,0)));
	background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));
	border-width:2px 0 0 0;
	border-style:solid;
	border-color:#2ca1cb;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#20000000,endColorstr=#002CA0CA)
}


.input{
	float:left;
	width:60%;
}



/* ---------- New Navigation ---------- */
/* ---------- Layout ---------- */
.portlet-column-content {
	padding: 0 0 0 0;
}

.portlet-column-content-first,.portlet-column-content-only {
	padding-left: 0;
}

.portlet-column-content-last,.portlet-column-content-only {
	padding-right: 0;
}

/* ---------- Portlet ---------- */
.portlet .portlet-topper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #215172;
	border-radius: 4px;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
}

.portlet .portlet-topper-toolbar {
	right: 6px;
	top: 7px;
}

.portlet .portlet-title {
	color: #FFF;
	font-weight: normal;
	margin: 0;
	min-height: 1em;
	padding: 9px 13px;
}

.portlet-sign-in .portlet-title {
	background-image: url(../images/custom/login_icon.png);
}

.portlet-toolbar {
	display: none;
}

.portlet-body {
	margin: 0;
}

#page-banner {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #215172 url(../images/custom/page-banner_bg.png) no-repeat
		right center;
	border-radius: 3px;
	color: #FFF;
	font-size: 2.2em;
	margin: 0;
	padding: 0.5em 0.8em;
}

/* ---------- Footer ---------- */
#footer {
	text-align: right;
}

.callout {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #EEEFEF;
	background-image: -moz-linear-gradient(#D2D2D3, #EEEFEF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #D2D2D3),
		color-stop(1.0, #EEEFEF) );
	border: 1px solid;
	border-color: #808080 #777 #404040;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#D2D2D3', EndColorStr='#EEEFEF' );
}

.callout-extraborder {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #EEE;
	border-radius: 4px;
}

a:hover .callout-extraborder,a:focus .callout-extraborder {
	background-image: -moz-linear-gradient(#DDD, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #DDD),
		color-stop(1.0, #EEE) );
	border-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#DDDDDD', EndColorStr='#EEEEEE' );
}

.callout-content {
	padding: 14px 24px;
}

.after-icon-callout {
	margin: 0 0 16px 132px;
}

.small-after-icon-callout {
	border-bottom: 1px solid #777;
	padding: 5px 0 16px 85px;
}

.portlet-journal-content .portlet-body .small-after-icon-callout h1 {
	margin: 0 0 3px;
}

.portlet-journal-content .portlet-body h1 {
	font-size: 1.25em;
	line-height: 1.125;
	margin: 0 0 12px;
}

.portlet-journal-content .portlet-body ul {
	list-style: none;
}

.portlet-journal-content .portlet-body li {
	/*background: url(../images/custom/marker.png) no-repeat 0 0.4em;*/
	margin-bottom: 6px;
	padding-left: 0px;
}

.portlet-portlet_bookmaker_WAR_comcomparadoradbetcomparerwebserverportletbookmaker
	{
	background: black;
}

.article h1 {
	color: #215172;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article h2 {
	color: #484A4C;
	font-size: 1.2em;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article p {
	line-height: 1.7;
}

.small-article {
	margin-bottom: 20px;
}

.small-article h1 {
	font-size: 1.2em;
	margin: 0.5em 0;
}

.small-article h2 {
	font-size: 1em;
	margin: 0.25em 0;
}

.small-article p {
	font-size: 90%;
	line-height: 2;
}

.after-icon-callout h1 {
	color: #215172;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.125;
	margin: 0 0 2px;
}

.after-icon-callout p {
	color: #474A4B;
	line-height: 1.75;
	margin: 0;
}

/* ---------- Breadcrumbs ---------- */
.breadcrumbs {
	margin-bottom: 1.5em;
}

.breadcrumbs li {
	background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
	display: inline;
	margin-right: 5px;
	padding-right: 15px;
}

.breadcrumbs .last {
	background-image: none;
	font-weight: bold;
	margin-top: 0.2em;
}

.breadcrumbs .last a {
	color: #555;
}

/* ---------- Site breadcrumbs ---------- */
.site-breadcrumbs {
	margin: 0 0 5px;
	width: auto;
}

.site-breadcrumbs ul {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	height: 1.8em;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	float: left;
	line-height: 1.8em;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
	display: block;
	line-height: 1.8em;
	padding: 0 15px 0 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs li.first a {
	color: #369;
	font-weight: bold;
}

.site-breadcrumbs li.last a {
	color: #4B5567;
	font-size: 1.3em;
}

.site-breadcrumbs .last {
	display: inline;
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a,.lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/